*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  color: #555;
}

.container {
  margin: 0 auto;
  width: 120rem;
  max-width: 95%;
}

.heading {
  font-size: 3.2rem;
  color: #5959ec;
  margin-bottom: 2rem;
}

.heading__page {
  font-size: 2rem;
  color: #000;
}

.nav {
  background-color: #000;
  margin-bottom: 2rem;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav__item {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  color: #fff;
  text-decoration: none;
}

.btn {
  background-color: #5959ec;
  font-family: inherit;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
}